@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =========================
   Global
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0b1020;
}

section {
  padding: 80px 24px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 1.7rem;
  color: #5eadde;
  margin-bottom: 30px;
}

/* =========================
   Header
========================= */
header {
  width: 100%;
  padding: 12px 20px;
  background-color: rgba(49, 76, 97, 0.709);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap:12px;

}

.logo {
  color: #86b9ed;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1,4rem;
  font-weight: 600;
}

.navgation {
  justify-content: center;
  
  display: flex;
  align-items: center;
}

.navgation a {
  color: #abcbec;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.3s ease;
}

.navgation a:hover {
  color: #3e77abbc;
  font-size: 1.15rem;
}
